.jumlah-buku {
    width: fit-content;
    display: flex;
    margin-top: 10px;
    margin: 0 auto;
}
.total-harga {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}
body {
    display: flex;
    justify-content: center;  
    padding-top: 50px;        
    background-color: #f8f9fa;
}
.table-container {
    width: 80%;             
    margin: 0 auto;         
}
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #5c67f2;
    color: white;
}

th {
    padding: 15px;
    text-align: left;
    font-size: 16px;
}
td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

tr:hover {
    background: #f1f1f1;
    color: #5c67f2;
}

/* Alternating row colors for better readability */
tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.badge {
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.badge-available {
    background-color: #4CAF50;
}

.badge-out-of-stock {
    background-color: #f44336;
}
.btn-danger{
    background-color: #f44336;   
}
.tambah-buku{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}
.btn-primary{
    background-color: #5c67f2;
}
